<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntentionalSolutionVersion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntentionalSolutionVersion.Properties.Settings>
            <setting name="AssemblyInfoFileNames" serializeAs="String">
                <value>AssemblyInfo.cs;SharedAssemblyInfo.cs</value>
            </setting>
            <setting name="InclPrjNoVer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSuf" serializeAs="String">
                <value>False</value>
            </setting>
        </IntentionalSolutionVersion.Properties.Settings>
    </userSettings>
</configuration>